sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: OFeeB4JESG6x+MYoVBUq3HISOE7PLbyBwPsboMceyB8rLkp4oYPS5+7gTqqsqTypDwSA9y21a0VMUUh4IUTj60o/rqIv0Kfop31UfpkpQR1JytpCebHewIyytEKJZRRQdMCOJSYkCD8Vd5xlUeG9dYolFfrI0BBS8cYJXm98HUdSg4jEhqP3B8bfzytvhsKJj+WIxFBta2P16ae/QvqyYfywokulEvMJAF0oIr6+V9CgWESeePMuWMn0+/WuwUI405eCVLYyAfZxC4Xrxxs4is9eAKOUELTIqgKWlNadD5xKTOQ21BKmI/ozWl6pniDnpLBUgPMYF6lkuMj4xNd1Ut/3m0/fSOcHcXNZtr18w+nXB6JqmAR+xd4JZ0j6SoOfI6zpNTiEIqNUUj19ho7YJPxmcp2J4ge8kXMPHoZsPJ1QJMarVRyHwhmsYZ11uJMvezAdFh9nFwJdsO7pdVWjYele91oPlBDgHEDHLIoQmqvUQaLYpQq0LCL0xLzFWpZbZK28cXLAxYit1yRVIy7mlWfilQLMi2i41NI52CAn++Aypv+pcdxj3F12ObP45MepLzAPgakTLt6MFQdW4jW5/5fkYXVVEuza+xq8UgmMqsIC3PhPhZIrhKrOGD0C3ACJZfIsykQTZ+qXoQIHHBTwPw3WlZF07GW4G161xFsZvsk=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/The-Make-Believe-Man_1823
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy